<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="place.pic">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true">
        <activity android:name=".ui.group.EndGroupJoinActivity" />
        <activity android:name=".ui.main.mypage.userlist.WaitUserListActivity" />
        <activity android:name=".ui.search.place.PlaceSearchActivity" />
        <activity android:name=".ui.upload.UploadPlaceActivity">

        </activity>
        <activity android:name=".ui.group.SignUpGroupActivity" />
        <activity android:name=".ui.group.joingrouplist.JoinGroupActivity" />
        <activity android:name=".ui.group.waitgrouplist.WaitGroupActivity" />
        <activity android:name=".ui.login.LoginActivity" />
        <activity android:name=".ui.login.LoginPageActivity" />
        <activity android:name=".ui.main.mypage.userlist.UserInfoActivity" />
        <activity android:name=".ui.main.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".ui.main.detail.DetailViewActivity" />
        <activity android:name=".ui.tag.UsefulTagActivity" />
        <activity android:name=".ui.search.subway.SubwaySearchActivity" />
        <activity android:name=".ui.tag.KeywordTagActivity" />
        <activity android:name=".ui.group.GroupListActivity" />
        <activity android:name=".ui.signup.SignuplastActivity" />
        <activity android:name=".ui.signup.SignupSecondActivity" />
        <activity android:name=".ui.signup.SignupActivity" />
        <activity android:name=".ui.webview.InWebActivity" />
    </application>

</manifest>